
<% include ../partials/header %>

<div class="container" style="margin-top: 30px">
    <header class="jumbotron">
        <div class="container">
            <h1><i class="fas fa-network-wired"></i> Bienvenido a NetMonitor App!</h1>
        <p>Una app que te permite registrar y monitorear tus dispositivos de red!</p>
        <p>
           <a class="btn btn-primary btn-lg" href="/devices/new">Agrega un Dispositivo</a> 
        </p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
       <% devices.forEach(function(device){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= device.image %>" class="image-responsive img-thumbnail">
                <div class="caption">
                    <h4>
                        <%= device.name %>
                    </h4>
                    <p>
                        <%= device.ipAddress %>
                    </p>
                </div>
                <p>
                    <a id="<%=device.name%>" href="/devices/<%= device._id %>" class="btn btn-primary btn-danger btn-sm">Ver detalle</a>
                </p>
            </div>
        </div>
        <% }); %> 
    </div>

</div>
<p id="prueba"></p>

<script type="text/javascript" src="/js/index.js"></script>
<% include ../partials/footer %>