<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <title>GeoServer</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
	    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>        
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/devices/"><i class="fas fa-network-wired"></i> NetMonitor App</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/devices/">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/devices/logs">Logs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/map">Map</a>
                </li>
                </ul>
            </div>
        </nav>

        <h1 align="center"><%= device.name.toUpperCase() %></h1>
        <div class="container">
            <div class="acf-map">
                <div class="marker" data-lat="<%= device.latitud %>" data-lng="<%= device.longitud %>">
                    <h4><%= device.name %></h4>
                    <% if (device.status) { %>
                    <p>El dispositivo se encuentra ACTIVO</p>
                    <% } else { %>
                    <p>El dispositivo se ecuentra INACTIVO</p>
                    <% }%>
                </div>   
            </div>
        </div>

        <div class="col-lg-9 col-md-9 container">
            <div class="thumbnail">
                <img style="float: left" class="image-responsive" src="<%= device.image %>">
                <div class="caption-full">
                    <h4>Nombre del Dispositivo: <a><%= device.name %></a></h4>
                    <p> Dirección IP:
                        <%= device.ipAddress %>
                    </p>
                    <p> Posición: 
                        <%= device.latitud %>, 
                        <%= device.longitud %>
                    </p>
                    <p>Estado: 
                        <% if (device.status) { %>
                            <span style="color: green">
                                ACTIVO
                            </span>
                        <% } else { %>
                            <span style="color: red">
                                INACTIVO
                            </span>
                        <% } %>
                    </p>
                    <form action="/devices/<%= device._id %>?_method=DELETE" method="POST">
                        <button class="btn-danger btn">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>

        <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDTW63QsiApZHgZ5XB1yLLZSBHiRcRN6c0'></script>
        <script  src="/js/map.js"></script>
    </body>
</html>
